<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="City Name">
    <th class="table-header-cell" mat-header-cell *matHeaderCellDef>City Name</th>
    <td class="table-cell" mat-cell *matCellDef="let row">
      {{ row.city }}
    </td>
  </ng-container>

  @for (column of columns() | slice:1; track column) {
  <ng-container [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef>
      {{ column }}
    </th>
    <td mat-cell *matCellDef="let row">
      {{ row[preiodicityValue][$index]?.temperature | degreeConversion }}
    </td>
  </ng-container>
  }

  <tr class="table-header-row" mat-header-row *matHeaderRowDef="columns()"></tr>
  <tr class="table-body-row" mat-row *matRowDef="let row; columns: columns()"></tr>
</table>
